/* 폰트 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
html > body {
 font-family: 'LotteMartDream', sans-serif;
}
/* 라이브러리 */
.table-box-type-1 > table {
	width: 100%;
}
.table-box-type-1 > table th, .table-box-type-1 td {
  border: 1px solid black;
  padding: 10px;
}
.btn-text-link {
  color: skyblue;
}
.btn-text-link:hover {
  text-decoration: underline;
}
/* 커스텀 */
body {
  min-width: 800px;
}
html, body{
	height: 100%;
}
/* 회원정보 */
.table-box-type-2 > table {
	position: absolute;
	top:45%;
	left:55%;
	transform:translate(-55%, -40%);
	color: black;
	font-size: 20px;
}
.profile-img {
	position: absolute;
	left: -40%;
}
/* 회원정보 끝 */
.table-box-type-2 > table th, .table-box-type-2 td {
  padding: 15px;
}
.title > div > h1{
	text-align: center;
	font-size: 40px;
	margin-top: 40px;
}
.table-box-type-2 > .img {
	position: absolute;
	left: 35%;
	padding: 90px 0 0 0;
	width: 180px;
	height:200px;
}
.table-box-type-2 >.img > button {
	padding: 20px;
} 
.bottom-option {
	position: absolute;
	top:75%;
	left:55%;
	transform:translate(-55%, -50%);
}
.bottom-option > a:first-child {
	margin-right: 35px;
	font-size: 20px;
}
.bottom-option > a:nth-child(2) {
	margin-right: 35px;
	font-size: 20px;
}
.bottom-option > button{
	margin-right: 35px;
	font-size: 20px;
}
/* 탑바 시작 */
:root {
  --top-bar__color-1:#f1f1f1;
}
.logo > span {
	font-size: 25px;
}
.top-bar {
  /* .bg-white */
  background-color:white;
  height: 3rem;
  font-size: 17px;
  opacity: 0.8;
}
.gnb {
	position: absolute;
	right: 5%;
}
/* .top-bar + * {
  padding-top: 4rem;
} */

/* 탑바 - 메뉴 박스 시작 */
.top-bar .menu-box-1 {
  overflow-x:auto;
}

/* 탑바 - 메뉴 박스 - 터치 불가능한 경우 스크롤바 제거 */
.touch-imposible .menu-box-1::-webkit-scrollbar
{
  width: 0;
  height: 0;
}

/* 탑바 - 메뉴 박스 - 더보기 그림자 시작 */
.top-bar .container {
  position:relative;
}

.top-bar .container::after {
  content:"";
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:100%;
  background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
  pointer-events:none;
}
/* 탑바 - 메뉴 박스 - 더보기 그림자 끝 */

/* 탑바 - 메뉴 박스 - 아이템 시작 */
.top-bar .menu-box-1 ul > li > a > span {
  white-space:nowrap;
}
.top-bar .menu-box-1 ul > li:hover > a {
  background-color:var(--top-bar__color-1);
}
/* 탑바 - 메뉴 박스 - 아이템 끝 */

/* 탑바 - 메뉴 박스 - 2차 메뉴 시작 */
.top-bar .menu-box-1 > ul > li:hover > div {
  display:block;
}

.top-bar .menu-box-1 > ul > li > div {
  position:fixed;
  left:0;
  width:100%;
  display:none;
  background-color:white;
  /* .shadow-lg */
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.top-bar .menu-box-1 > ul > li > div > h1 > a {
  display:flex;
  background-color:flex;
  justify-content:center;
  padding:.5rem 0;
  background-color:var(--top-bar__color-1);
}

.top-bar .menu-box-1 > ul > li > div > ul > li > a {
  display:flex;
  background-color:flex;
  justify-content:center;
  padding:.5rem 0;
}
/* 탑바 - 메뉴 박스 - 2차 메뉴 끝 */

.top-bar--fly {
  top:0;
  left:0;
  width:100%;
  z-index:50;
  position:fixed;
}
/* 탑바 끝 */
/* 메인화면 시작 */
#headerwrap {
    width: 100%;
}
.after::after {
    display: block;
    clear: both;
    content: "";
}

.main {
    width: 100%;
    height: 900px;
    background: url(img/bglogo.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.main>h1 {
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 55%;
}
.main>p {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 54%;
    font-size: 40px;
}
.main>h4 {
    background: #555;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 10px 35px;
}
/* 메인화면 끝 */
/* content 시작 */
#contents {
    width: 100%;
}
.con {
    margin-bottom: 70px;
}
.con1 {
    width: 100%;
    height: 700px;
    position: relative;
}
.con1 > .con-body {
	font-size: 30px;
	position: absolute;
	top: 15%;
	left: 10%;
}
.con1>.box1 {
    position: absolute;
    top: 21.4%;
    left: 9%;
}
.box1 {
    width: 400px;
    height: 400px;
}
.con1>.box2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box2 {
    width: 400px;
    height: 400px;
}
.con1>.box3 {
    position: absolute;
    top: 21.4%;
    left: 67%;
}
.box3 {
    width: 400px;
    height: 400px;
}
.box1>.bg1 {
    background: url(img/con2-1.png) no-repeat;
    background-size: cover;
    width: 400px;
    height: 350px;
}
.box2>.bg2 {
    background: url(img/con2-2.png) no-repeat;
    background-size: cover;
    width: 400px;
    height: 350px;
}
.box3>.bg3 {
    background: url(img/con2-3.png) no-repeat;
    background-size: cover;
    width: 400px;
    height: 350px;
}
.box1>.a>p {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}
.box1>.a::after {
    display: block;
    content: "";
    width: 130px;
    height: 2px;
    background: skyblue;
    position: absolute;
    left: 35%;
}
.box2>.b>p {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}
.box2>.b::after {
    display: block;
    content: "";
    width: 130px;
    height: 2px;
    background: skyblue;
    position: absolute;
    left: 35%;
}
.box3>.c>p {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}
.box3>.c::after {
    display: block;
    content: "";
    width: 120px;
    height: 2px;
    background: skyblue;
    position: absolute;
    left: 35%;
}
/* content 끝 */
/* footer 시작 */
#footerwrap {
    width: 100%;
    height: 150px;
    background: #3d3d3d;
    position: relative;
}
.footer > .mail {
	color: white;
    font-size: 14px;
    padding: 3px 7px;
    text-align: center;
    width: 350px;
    height: 30px;
    position: absolute;
    top: 50%;
    float: left;
    line-height: 30px;
    left: 40%;
}
.footer > .mail-ad{
	color: white;
    font-size: 14px;
    padding: 3px 7px;
    text-align: center;
    width: 350px;
    height: 30px;
    position: absolute;
    top: 45%;
    float: left;
    line-height: 30px;
    left: 41%;
}
.footer>.blog-copy {
		color: white;
        font-size: 13px;
        padding: 3px 7px;
        text-align: center;
        width: 350px;
        height: 30px;
        position: absolute;
        top: 55%;
        float: left;
        line-height: 30px;
        left: 40%;
}
.footerlogo {
	background: url(img/logo.jpg) no-repeat;
	background-size: cover;
	position: absolute;
	width: 180px;
	height: 100px;
	top: 15%;
	left: 29%;
}
/* footer 끝 */
/* 회원가입폼 시작 */
.join {
	position: absolute;
	top: 270%;
	left: 50%;
	transform: translate(-50%, -270%);
}
.join > .submit bottom {
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -150%);
}
.join-bg {
	background: url(img/joinbg5.jpg) no-repeat;
	background-size: cover;
	width: 800px;
	height: 600px;
	position: absolute;
	left: 21%;
	opacity: 0.7;
	top: 18%;
}
/* 회원가입폼 끝 */
/* 로그인폼 시작 */
.login {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
	height: 400px;
}
#footerwraplogin {
    width: 100%;
    height: 230px;
    background: #3d3d3d;
    position: absolute;
    top: 80%;
}
.footer > .mail {
	color: white;
    font-size: 14px;
    padding: 3px 7px;
    text-align: center;
    width: 350px;
    height: 30px;
    position: absolute;
    top: 50%;
    float: left;
    line-height: 30px;
    left: 40%;
}
.footer > .mail-ad{
	color: white;
    font-size: 14px;
    padding: 3px 7px;
    text-align: center;
    width: 350px;
    height: 30px;
    position: absolute;
    top: 45%;
    float: left;
    line-height: 30px;
    left: 41%;
}
.footer>.blog-copy {
		color: white;
        font-size: 13px;
        padding: 3px 7px;
        text-align: center;
        width: 350px;
        height: 30px;
        position: absolute;
        top: 55%;
        float: left;
        line-height: 30px;
        left: 40%;
}
.footerlogo-login {
	background: url(img/logo.jpg) no-repeat;
	background-size: cover;
	position: absolute;
	width: 180px;
	height: 100px;
	top: 28%;
	left: 29%;
}
/* 로그인폼 끝 */
